* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-index {
  width: 550px;
  height: 868px;
  background-color: #23252c;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
